<%# Page de modification du profil %>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h1 class="mb-4">Mon profil</h1>

      <%# On appelle le formulaire partagé _form.html.erb %>
      <%= render "form" %>

      <%# Lien retour %>
      <div class="mt-3">
        <%= link_to "Annuler", profil_path, class: "btn btn-outline-secondary" %>
      </div>

    </div>
  </div>
</div>
